
header {
    background-color: rgb(101, 65, 10);
    overflow: hidden;
    text-align: center;
    border-radius: 1em;
    box-shadow: 10px 10px 20px rgba(19, 13, 2, 0.826), -10px -10px 20px rgba(76, 49, 8, 0.828), 0 0 20px rgba(111, 73, 12, 0.712);
}

#main-navbar ul {
    list-style-type: none;
    margin: 0%;
    padding: 0px;
}

#main-navbar ul li {
    display: inline;
    text-shadow: 4px 3px 1px black;
}

#main-navbar ul li a {
    text-decoration: none;
    color: wheat;
    padding: 20px 40px;
    margin: 40px 40px;
    font-size: x-large;
    
}

#main-navbar ul li :hover {
    text-shadow: 4px 3px 1px rgba(159, 104, 9, 0.761) ;
}
h1 {
    text-shadow: 4px 3px 1px wheat;
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
}
h2 {
    text-shadow: 4px 3px 1px wheat;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;

    }
    to {
        margin-left: 0%;

    }
}

#info {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    text-align: center;
    font-size: x-large;
    background-color: rgb(101, 65, 10);
    text-shadow: 4px 3px 2px wheat;
    font-family: 'Young Serif', serif;
}

#information {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
}

#survey {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
}

#submit {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    text-align: center;
    font-size: x-large;
    animation-duration: 2s;
    animation-name: slidein;
    background-color: rgb(61, 73, 40);
    text-shadow: 4px 3px 2px wheat;
    font-family: 'Abril Fatface', serif;
}

#pinfo {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    text-align: center;
}

#education{
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    text-align: center;
}

#achievement {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    text-align: center;
}

#footer {
    font-size: x-large;
    text-align: center;
    border-radius: 3em;
    box-shadow: 10px 10px 20px rgba(19, 13, 2, 0.826), -10px -10px 20px rgba(76, 49, 8, 0.828), 0 0 20px rgba(111, 73, 12, 0.712);
    background-color: rgb(101, 65, 10);
}

#footer {
    color: bisque;
    text-shadow: 4px 3px 3px black;
}

#email {
    color: bisque;
    text-shadow: 4px 3px 3px black;
}

#video {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    border-bottom: 2px;
    border-right: 2px;
}

#video2 {
box-shadow: 2px 10px 20px;
border-radius: 1em;
border-bottom: 2px;
border-right: 2px;
}

#video3 {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    border-bottom: 2px;
    border-right: 2px;
}

#video4 {
    box-shadow: 2px 10px 20px;
    border-radius: 1em;
    border-bottom: 2px;
    border-right: 2px;
}

#intro {
    background-color: rgb(101, 65, 10);
    color: bisque;
    text-shadow: 4px 3px 3px black;
    box-shadow: 2px 10px 20px black;
    border-radius: 1em;
}

#heading2 {
    font-size: xx-large;
    text-align: center;
    font-family: 'Young Serif', serif;
}

h1 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
}

h2 {
    font-family: 'Abril Fatface', serif;
}

p {
    font-size: 150%;
    font-family: 'Young Serif', serif;
    text-align: center;
}
